                                    /* PROPRIETA GENERALI */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.resize{

  width: 70%;
  margin: 0 auto;
}
.orange_button {
  border-radius: 5px;
  background-color: #ff7a59;
  padding: 5px;
  color: white;
}
.section_box {
  /* debug */
  margin: 20px 0 ;
  height: 200px;
  background-color:none;
  border: solid;
  /*FINE debug*/
}

.box{
  display: inline-block;
  float: left;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.white_button{
  border: solid #ff7a59 0.5px;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  color: orange;
}
.color{
  color: #33475b;
}
p{
  font-size: 11px;
  margin: 20px 0;
}
  /* PROPRIETAì PAGINA */
  /* PROPRIETA' NAV */
.nav1{
  /* debug */
  border-bottom: solid darkblue 1px;
  /* height: 100px; */
  background-color: #c2d4dd;
  /* fine debug */
}
.nav2{
  /* debug */
  /* height: 100px; */
  /* background-color: white; */
  /* fine debug */
}
  /* PROPRIETA' NAV1 BOX1 */
.box1{
  width: 50%;
  height: 50px;
  /* background-color:green; */
  /* display: inline-block; */
  float: left;
}
ul#menu_box1 li {
  font-family: sans-serif;
    display: block;
    text-align: center;
    padding: 15px;
    float: left;

}
ul#menu_box1  li a {
    font-size: 15px;
    /* font-weight: bold; */
    line-height: 20px;
    text-decoration: none;

  }

                                    /* PROPRIETA NAV1 BOX2 */
.box2{
  width: 50%;
  height: 50px;
  /* background-color:blue; */
  float: right;
  /* display: inline-block; */
}
ul#menu_box2 li {
  font-family: sans-serif;
    display: block;
    text-align: center;
    padding: 15px;
    float: right;
}
ul#menu_box2 li a {
    font-size: 15px;
    /* font-weight: bold; */
    line-height: 20px;
    text-decoration: none;
  }
  /* PROPRIETA nav2 */
ul#menu_box3 li {
  font-family: sans-serif;
  display: block;
  text-align: center;
  padding: 25px 15px ;
  float: right;
    }
ul#menu_box3 li a {
  font-size: 15px;
  text-decoration: none;
  /* font-weight: bold; */
  /* line-height: 20px; */
      }
.box4{
  float: right;
}
.logo{
  padding: 15px;
}
/* JAMBOTRON PROPRIETà */
.jambotron{
  position: relative;
}
.jambo_written{
  width: 350px;
  position: absolute;
  left: 140px;
  top: 20px;
  z-index: 100;
  /* debug
  width: 20%;
  height: 50px;
  background-color:green;
  border: solid;
  FINE debug */
}
.jambotron img{
  z-index: 10;
  width: 100%;
}
/* divisore proprietà */
.divisore{
   debug

  width: 100%;
  height: 50px;
  background-color:#00bda5;
  /* border: solid; */
   FINE debug
}
/* PROPRIETà SECTIONE1BOX1 */
.column3_section1{
  float: left;
  height: 200px;
  width: 30%;
  border: solid green;
}
.column_section1{
  /* debug */
  float: left;
  margin-right: 5%;
  height: 200px;
  width: 30%;
  border: solid green;
  /*FINE debug*/
}

/* PROPRIETA' SEZIONE 2 */

.section2_back{
  /* debug */
  margin: 20px 0 ;
  /* height: 200px; */
  background-color:#00bda5;
  /*border: solid;
  FINE debug*/
}
.column_section2{
  /* debug */
  float: left;
  /* margin-right: 5%; */
  height: 50%;
  width: 25%;
  border: solid green;
  /*FINE debug*/
}

/* proprieta' sezione 3 */
.column_section3{
  /* debug */
  float: left;
  /* margin-right: 5%; */
  height: 100%;
  width: 50%;
  border: solid green;
  /*FINE debug*/
}

/* PROPRIETA' FOOTER */
.footer_back{
  /* debug */
  margin: 20px 0 ;
  /* height: 200px; */
  background-color:#2d3e50;
  /*border: solid;
  FINE debug*/
}

.footer_box{
  /* debug */
  margin: 20px 0 ;
  height: 100px;
  background-color:none;
  border: solid;
  /*FINE debug*/
}
.column_footer{
  /* debug */
  float: left;
  height: 100%;
  width: 25%;
  border: solid green;
  /*FINE debug*/
}
.footer_row{
  /* debug */
  height: 50%;
  background-color:none;
  border: solid green;
  /*FINE debug*/
}
.footer_box_left{
  float: left;
  width: 20%;
  height: 100%;
  background-color:none;
  border: solid green;
}
.footer_box_right{
  float: right;
  width: 20%;
  height: 100%;
  background-color:none;
  border: solid green;
}
